.title{
    background: url('./pulse-img.jpg');
    background-repeat: no-repeat;
    background-position: center;
}
.bg{
    background: url('./trading.jpg');
    background-attachment: fixed;
    -webkit-backdrop-filter: blur(5px);
    background-position: center;
    backdrop-filter: blur(5px);
}

body{
    margin: 0;
    padding: 0;
}
.pulse-box{
    /* animation: beat-animation 600ms ease-out 0s infinite ; */
}

@keyframes beat-animation {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.05);
    }
    100%{
        transform: scale(1.1);
    }
}
.g_play{
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
    background: url('ps4.jpeg');
   background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}